<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">DevCollab</a>
    <ul class="nav-links">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/discover">Discover</a></li>
      <% if (locals.user) { %>
        <li><a href="/my-skills">My Skills</a></li>
        <li><span>Hello, <%= user.email %></span></li>
        <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </div>
</nav>
